#!/usr/bin/env bash
alias 'pepino'='xvfb-run --auto-servernum --server-num=1 --server-args="-screen 0, 1280x1024x24" bundle exec cucumber'
alias 'superpepino'='xvfb-run --auto-servernum --server-num=1 --server-args="-screen 0, 1280x1024x24" bundle exec rake parallel:features[4]'
alias 'superspec'='rake parallel:spec[4]'
alias 'multispec'='superspec'
alias 'again'='pepino @tmp/cucumber_failures.log'
alias 'xana'='again'
alias 'g'='grep -A 2 -rni' # recursive, numbers, case insensitive, contextual lines
alias 'google'='grep -rn'
alias 'be'='bundle exec'
alias 'berc'='bin/rails console'
alias 'bers'='bin/rails server -p 16000'
alias 'bears'='bers'
alias 'berf'='bundle exec rackup private_pub.ru -s thin -E production'
alias 'count_files'='ls -l | wc -l'
alias 'ack'='ack-grep'
alias 'dj'='bundle exec rake jobs:work'
alias 'fspec'='rspec spec/fast'
