# this is helpful!
alias 'be'='bundle exec'
alias 'giit'='git'
alias 'gst'='git status'

# vi is aliased to the system vim, but I want to use the homebrew vim
alias 'vi'='vim'

# help with my muscle memory transitioning from ack to ag
alias 'ack'='ag'
[[ -s "$HOME/.aliases.local" ]] && source "$HOME/.aliases.local"
