[user]
  name = Max Jacobson
  email = max@hardscrabble.net
[alias]
  br = "! git branch | cut -c 3- | selecta | xargs git checkout"
  co = checkout
  st = status
  hist = log --pretty=format:'%h %ai | %s%d [%an]' --graph --date=short
  l = log --pretty='[%h] [%ar] %an: %s'
  aa = add -A
  rc = rebase --continue
  rs = rebase --skip
  ra = rebase --abort
  cp = cherry-pick
  pick = add . -p
  squasher = "! git add -A && git commit -am 'squasher' && git rebase -i HEAD~2"
  git = "! git"
  freshen-up = "! git co staging && git pull && git co - && git rebase staging"
  vim = "! vim"
  dif = diff
  pro = pull --rebase origin
[core]
  editor = vim
  excludesfile = /Users/max/.gitignore_global
[color]
  ui = true
[push]
  default = simple
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true
[merge]
  tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[mergetool]
  prompt = false
[diff]
  tool = Kaleidoscope
