[user]
  name = Max Jacobson
  email = max@hardscrabble.net
[alias]
  br = "! branch" ; script that helps switch branches, in dotfiles/bin
  co = checkout
  st = status
  hist = log --pretty=format:'%h %ai | %s%d [%an]' --graph --date=short
  l = log --pretty='[%h] [%ar] %an: %s'
  aa = add -A
  q = "! git add . --all && git commit --amend --no-message"
  ughgem = "! rm Gemfile.lock && bundle && git add . --all && git rebase --continue"
  p = push
  pu = pull --rebase
  rc = rebase --continue
  rs = rebase --skip
  ra = rebase --abort
  cp = cherry-pick
  d = diff
  picky = add . -p
  pick = add . -p
  squasher = "! git add -A && git commit -am 'squasher' && git rebase -i HEAD~2"
  p = add . -p
  git = "! git"
  vim = "! vim"
  dif = diff
  dc = cat-file -p
  rebsae = rebase
  pro = pull --rebase origin
[core]
  editor = vim
  excludesfile = /Users/max/.gitignore_global
[color]
  ui = true
[push]
  default = simple
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true
[merge]
  tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[mergetool]
  prompt = false
[diff]
  tool = Kaleidoscope
